#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/*
 * torabo-tsuki-lp (right)
 *
 * - 通常時：マウス移動 + AutoMouseLayer (layer4)
 * - layer5：トラックボールでスクロール
 */
&trackball_listener {

    /* ===== デフォルト動作 ===== */
    default_layer {
        compatible = "zmk,input-processor-layer";

        /* layers を書かない = 全レイヤー対象 */
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            &zip_temp_layer 4 800
        >;
    };

    /* ===== スクロール専用レイヤー ===== */
    scroller {
        compatible = "zmk,input-processor-layer";
        layers = <5>;
        input-processors = <
            &zip_xy_to_scroll_mapper 0
        >;
    };
};

/* ===== ボールサイズ補正 ===== */
&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
